<h4> Hey <%= @user.username %>! </h1>
<h2>Here's a list of your reviews:</h2>
    <div class="reviews">
    <% @user.reviews.each do |review| %>
        <div class="reviews_card">
        <h3><%= link_to review.establishment.name, review_path(review)%>⎮⎮ <%= link_to "Edit your review", edit_review_path(review)%></h3>
    </div>
        <% end %> 
    </div>







    
     
          

   