// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reviews {
    display: flex;
    flex-wrap: wrap;
}

.reviews_card {
    margin: 15px;
    padding: 20px;
    background-color: whitesmoke;
}

#reviewvcontainer {
    display: table;
    height: 100%;
    width: 100%;
  }
  #reviewhcontainer {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  #reviewcontent {
      padding-top: 50px;
      padding-left: 200px;
      padding-right: 200px;
      height: 800px;
      background-color:whitesmoke;
      background-size: cover;
      background-position: 50%;
      align: center;
      position: absolute;
      top: 10%;
      left: 30%;
      justify-self: center;
      align-self: center;
      border-style: solid;
      border-width: 0 2px 2px 2px;
      background:whitesmoke;
      box-shadow: inset 2px 2px 0 red, inset -2px -2px 0 black;
    }