// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#vcontainer {
    display: table;
    height: 100%;
    width: 100%;
  }
  #hcontainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  #content {
      padding-top: 50px;
      padding-left: 100px;
      padding-right: 100px;
      height: 300px;
      background-color:whitesmoke;
      background-size: cover;
      background-position: 50%;
      align: center;
      position: absolute;
      top: 25%;
      left: 25%;
      justify-self: center;
      align-self: center;
  }

  #logvcontainer {
    display: table;
    height: 100%;
    width: 100%;
  }
  #loghcontainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  #logcontent {
      padding-top: 50px;
      padding-left: 100px;
      padding-right: 100px;
      height: 300px;
      background-color:whitesmoke;
      background-size: cover;
      background-position: 50%;
      align: center;
      position: absolute;
      top: 25%;
      left: 25%;
      justify-self: center;
      align-self: center;
  }
  
  .errors {
      color: red;
  }