<h2><%=@category.name.upcase%>'S</h2>
    
    <% @category.establishments.each do |e| %>
        <div class="establishment-card">
           <div class="establishment-title">
            <p><%= e.location%></p>
        </div>
        <div class="establishment-names">
            <p><%= link_to e.name, establishment_path(e) %></p>
            </div>
            </div>
        </div>
<% end %>



